// colours
$color-titleBlue: dodgerblue;
$color-titleBackground: beige;

/*@font-face {
  font-family: 'bookingsans';
  src: url('../../../../static/fonts/fontName.eot');
  src: url('../../../../static/fonts/fontName.eot?#iefix') format('embedded-opentype'),
  url('../../../../static/fonts/fontName.woff2') format('woff2'),
  url('../../../../static/fonts/fontName.woff') format('woff'),
  url('../../../../static/fonts/fontName.ttf')  format('truetype'),
  url('../../../../static/fonts/fontName.svg#fontName') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
